:root {
  --default-px: 8px;
  --primary-color: #232323;
  --secondary-color: #333;
  --tertiary-color: #3e3e3e;
  --line-color: #444;
  --grayed-out: #888;
  --scroll-bar-normal: #4e4e4e;
  --scroll-bar-hover: #555;
  --scroll-bar-active: #3a3a3a;
  --icon: #fff;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf");
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Raleway";
}

html {
  color-scheme: dark;
}

.light-theme {
  color-scheme: light;
  --primary-color: #f0f0f0;
  --secondary-color: #e0e0e0;
  --tertiary-color: #d0d0d0;
  --line-color: #ccc;
  --grayed-out: #444;
  --scroll-bar-normal: #b0b0b0;
  --scroll-bar-hover: #a0a0a0;
  --scroll-bar-active: #c0c0c0;
  --icon: #000;
}

.black-theme {
  --primary-color: #000;
  --secondary-color: #0a0a0a;
  --tertiary-color: #141414;
  --line-color: #1e1e1e;
  --grayed-out: #333;
  --scroll-bar-normal: #2a2a2a;
  --scroll-bar-hover: #3a3a3a;
  --scroll-bar-active: #1a1a1a;
  --icon: #fff;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.body-settings {
  overflow: hidden !important;
  height: 100vh;
}
body.body-settings .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body.body-settings .section {
  flex: 1;
  overflow-y: auto;
  padding: calc(var(--default-px) * 2) var(--default-px) 0;
  padding-bottom: calc(var(--default-px) * 2);
}

.container {
  transition: translate 200ms cubic-bezier(0.52, 0.87, 0.45, 0.93);
}
.container.full-animation {
  translate: 0 -3em;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-px);
  padding: calc(var(--default-px) * 2) var(--default-px);
}

.crosshair {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--default-px) / 2);
  border: 1px solid var(--line-color);
  border-radius: var(--default-px);
  background-color: var(--secondary-color);
  padding: var(--default-px);
  cursor: pointer;
  transition: 250ms;
  transition-property: background, scale;
}
.crosshair:hover {
  background-color: var(--tertiary-color);
  scale: 1.03;
}
.crosshair:active {
  scale: 0.8;
}
.crosshair div {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--line-color);
  padding: 0 var(--default-px);
}
.header .header-options {
  display: flex;
  align-items: center;
}
.header .header-options .header-option {
  background-color: var(--secondary-color);
  padding: calc(var(--default-px) / 2);
  border: 1px solid var(--line-color);
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--default-px) / 2);
  cursor: pointer;
}
.header .header-options .header-option:hover {
  background-color: var(--tertiary-color);
}
.header .header-options .header-option:active {
  opacity: 0.7;
}
.header .header-options .header-option:first-child {
  border-radius: var(--default-px) 0 0 var(--default-px);
}
.header .header-options .header-option:last-child {
  border-radius: 0 var(--default-px) var(--default-px) 0;
}
.header .header-options .header-option:only-child {
  border-radius: var(--default-px);
}
.header .header-options .header-option.toggle, .header .header-options .header-option.reset, .header .header-options .header-option.refresh-dir {
  border-right: none;
}
.header .header-options .header-option.toggle *, .header .header-options .header-option.reset *, .header .header-options .header-option.refresh-dir * {
  cursor: pointer;
}
.header .header-options .header-option.open-dir, .header .header-options .header-option.reset, .header .header-options .header-option.refresh-dir {
  padding-left: var(--default-px);
  padding-right: var(--default-px);
}
.header .header-options .header-option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.header .header-options .header-option.disabled:hover {
  background-color: var(--secondary-color);
}

.full-frame {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  translate: 0;
  opacity: 1;
  z-index: 1;
  transition: 200ms cubic-bezier(0.52, 0.87, 0.45, 0.93);
  transition-property: translate, opacity;
}
.full-frame.full-animation {
  translate: 0 3em;
  opacity: 0;
}

.group-title {
  margin-left: calc(var(--default-px) * 2);
  font-size: calc(var(--default-px) * 1.5);
  font-weight: bold;
  color: #04b4fc;
}

.group {
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--default-px) * 5);
  background-color: var(--secondary-color);
  width: 100%;
  overflow: hidden;
}
.group .item {
  display: flex;
  padding: calc(var(--default-px) * 3) calc(var(--default-px) * 2);
  border-bottom: 1px solid var(--primary-color);
}
.group .item:has(.value) .label {
  flex: 1;
}
.group .item .label {
  transition: scale 200ms;
}
.group .item .label:has(.sub-label) {
  display: flex;
  flex-direction: column;
  translate: 0 -4px;
}
.group .item .label:has(.sub-label) .sub-label {
  color: var(--grayed-out);
  translate: 0 4px;
  font-size: 12px;
}
.group .item:last-child {
  border-bottom: none;
}
.group .item.button-item {
  transition: background 250ms;
}
.group .item.button-item:hover {
  background-color: var(--tertiary-color);
}
.group .item.button-item:active {
  opacity: 0.7;
}
.group .item.button-item:active .label {
  scale: 0.9;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal-background .modal-foreground {
  flex-basis: 4in;
  height: 1in;
  background-color: var(--primary-color);
  border-radius: calc(var(--default-px) * 2);
  padding: var(--default-px);
  padding-top: calc(var(--default-px) * 2);
}
.modal-background .modal-foreground .modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.modal-background .modal-foreground .modal-wrapper .modal-wrapper-buttons {
  align-self: flex-end;
  display: flex;
  gap: calc(var(--default-px) / 2);
}
.modal-background .modal-foreground .modal-wrapper .modal-wrapper-buttons .modal-button {
  all: unset;
  padding: var(--default-px) calc(var(--default-px) * 2);
  border-radius: var(--default-px);
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background 200ms;
}
.modal-background .modal-foreground .modal-wrapper .modal-wrapper-buttons .modal-button:hover {
  background-color: var(--tertiary-color);
}

.icon {
  fill: var(--icon);
}

::-webkit-scrollbar {
  width: var(--default-px);
  height: var(--default-px);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-normal);
  border-radius: var(--default-px);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-bar-active);
}/*# sourceMappingURL=style.css.map */